{% extends "layout.html.twig" %}

{% block content %}
    <div class="container-xl">
        <div class="pt-6 pt-lg-7">
            <h1 class="mb-4 text-blue-4">
                Plants
            </h1>
            {% if content.article|striptags != '' %}
                <div class="pt-2 pb-4">
                    {{ content.article|raw }}
                </div>
            {% endif %}

            <ul role="menu" itemscope="" itemtype="" class="row / list-unstyled">
                {% for item in content.catalog_items|sort((a, b) => a.title <=> b.title) %}

                    {% set prices_options_available = 0 %}
                    {% set prices_min = 0 %}
                    {% for price_option in item.prices_options %}
                        {% if price_option.is_available %}
                            {% if prices_min == 0 %}
                                {% set prices_min = price_option.price %}
                            {% endif %}
                            {% set prices_options_available = 1 %}
                            {% if price_option.price < prices_min %}
                                {% set prices_min = price_option.price %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <li class="col-6 col-lg-4 col-xl-3 / mb-4">
                        <a
                                href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                                title="{{ item.title }}"
                                itemprop="name"
                                class="position-relative d-block h-100 / text-black text-decoration-none / bg-yellow-2 br-5 overflow-hidden img-hover"
                        >
                        <span class="d-block / py-2 px-2 / ratio ratio-1x1 / overflow-hidden">
                            {% if item.image_preview %}
                                <img src="{{ item.image_preview.thumbnails['400x400.webp'] }}" alt="{{ item.title }}" class="w-100 h-100 object-fit-cover img-hover" loading="lazy">
                            {% endif %}
                        </span>
                            <span class="d-block / px-3 py-4 / text-blue-4 fw-700 bg-yellow-2">
                            {{ item.title }}<br>
                            <span class="fst-italic fw-500">{{ item.title_maori ? item.title_maori : '&nbsp;' }}</span>
                        </span>
                            <span class="position-absolute d-block top-0 end-0 mt-2 me-2 px-2 py-1 br-5 fs-14 fw-600 / {{ prices_options_available == 0 ? 'text-white bg-red-1' : 'text-white bg-primary' }}">
                                {% if prices_options_available == 0 %}
                                    Sold out
                                {% else %}
                                    From ${{ prices_min }}
                                {% endif %}
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
