{% extends "layout.html.twig" %}

{% set pageTitle = content.page_title %}

{% block hero %}
    {% if content.images_home|length > 0 %}
        <div>

            <div id="carouselTipu" class="carousel carousel--hero slide">
                <div class="carousel-inner">
                    {% for image in content.images_home %}
                        <div class="carousel-item {{ loop.index0 == 0 ? 'active' : '' }}">
                            <img srcset="
                                        {{ image.thumbnails['400x.webp'] }}  400w,
                                        {{ image.thumbnails['600x.webp'] }}  600w,
                                        {{ image.thumbnails['800x.webp'] }}  800w,
                                        {{ image.thumbnails['1200x.webp'] }}  1200w,
                                        {{ image.thumbnails['1600x.webp'] }}  1600w,
                                        {{ image.thumbnails['1800x.webp'] }}  1800w,
                                        {{ image.thumbnails['2500x.webp'] }}  2500w,
                                      "
                                 alt="{{ image.description }}"
                                 class="carousel-item__img object-fit-cover w-100 h-100">
                        </div>
                    {% endfor %}
                </div>
                {% if content.images_home|length > 1 %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTipu" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselTipu" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                {% endif %}
            </div>

        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="bg-yellow-3 / py-5 py-lg-12">
        <div class="container-xl max-width-lg / text-center">
            <h1 class="mb-4 / text-primary">{{ content.page_title }}</h1>

            <div class="fs-20 fs-lg-24">
                {{ content.article|raw }}
            </div>
        </div>
    </div>

    <div class="container-xl / pt-7 pt-lg-12">
        <div class="bg-blue-4 / px-4 py-6 px-lg-8 py-lg-8">
            <div class="row align-items-center">
                <div class="col-12 col-lg-7 / order-1">
                    <div class="ratio ratio-1x1">
                        {% set image = content.special_block_images %}
                        {% if image %}
                            <img srcset="
                                    {{ image.thumbnails['400x.webp'] }}  400w,
                                    {{ image.thumbnails['600x.webp'] }}  600w,
                                    {{ image.thumbnails['800x.webp'] }}  800w
                                  "
                                 alt="{{ image.title }}"
                                 title="{{ image.description|default(image.title) }}"
                                 class="object-fit-cover w-100 h-100">
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-lg-5 / order-0">
                    <div class="pe-6 / text-left / text-white">
                        <h2 class="mb-5 / text-white">{{ content.special_block_title }}</h2>
                        <div class="pb-8 / text-white">
                            {{ content.special_block_article|raw }}
                        </div>
                        <div class="pb-4 / text-white">
                            <h3 class="mb-4 / text-white">{{ content.special_block_sale_title }}</h3>
                            {{ content.special_block_sale|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xl / pb-7 pb-lg-12">
        <div class="row align-items-center / pt-7 pt-lg-12">
            <div class="col-12 col-lg-7">
                <div class="ratio ratio-1x1">
                    {% set image = content.home_tile_1_images %}
                    {% if image %}
                        <img srcset="
                                    {{ image.thumbnails['400x.webp'] }}  400w,
                                    {{ image.thumbnails['600x.webp'] }}  600w,
                                    {{ image.thumbnails['800x.webp'] }}  800w
                                  "
                             alt="{{ image.title }}"
                             title="{{ image.description|default(image.title) }}"
                             class="object-fit-cover w-100 h-100">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="ps-lg-6 / text-center">
                    <h2 class="mb-5 mt-5 mt-lg-0 / text-primary">{{ content.home_tile_1_title }}</h2>
                    {{ content.home_tile_1_article|raw }}
                </div>
            </div>
        </div>
        <div class="row align-items-center / pt-7 pt-lg-12">
            <div class="col-12 col-lg-7 / order-0 order-lg-1">
                <div class="ratio ratio-1x1">
                    {% set image = content.home_tile_2_images %}
                    {% if image %}
                        <img srcset="
                                    {{ image.thumbnails['400x.webp'] }}  400w,
                                    {{ image.thumbnails['600x.webp'] }}  600w,
                                    {{ image.thumbnails['800x.webp'] }}  800w
                                  "
                             alt="{{ image.title }}"
                             title="{{ image.description|default(image.title) }}"
                             class="object-fit-cover w-100 h-100">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-5 / order-1 order-lg-0">
                <div class="pe-lg-6 / text-center">
                    <h2 class="mb-5 mt-5 mt-lg-0 / text-primary">{{ content.home_tile_2_title }}</h2>

                    {{ content.home_tile_2_article|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
