{% extends "layout.html.twig" %}

{% set pageTitle = content.page_title %}

{% block content %}

    <div class="mb-6">
        {{ content.article|raw }}
    </div>

    <div class="row / mb-8 / text-center / home-tiles">
        <div class="col-12 col-sm-6 / home-tile">
            <a href="/library" class="d-block / ratio ratio-1x1 / text-yellow-2"
               style="background-image:url({{ content.home_tile_1_images.thumbnails['600x600.webp'] }})">
                <span class="d-flex justify-content-center align-items-center">
                    <span class="d-block / p-4 p-lg-4 / fs-20 fs-lg-30">{{ content.home_tile_1_title|raw }}</span>
                </span>
            </a>
        </div>
        <div class="col-12 col-sm-6 / home-tile / mt-4 mt-sm-0">
            <a href="/our-products" class="d-block / ratio ratio-1x1 / text-blue-4"
               style="background-image:url({{ content.home_tile_2_images.thumbnails['600x600.webp'] }})">
                <span class="d-flex justify-content-center align-items-center">
                    <span class="d-block / p-4 p-lg-4 / fs-20 fs-lg-30">{{ content.home_tile_2_title|raw }}</span>
                </span>
            </a>
        </div>
    </div>
{% endblock %}
