{% extends "layout.html.twig" %}

{% block content %}
    {{ content.article|raw }}

    {% set product_data = sulu_content_load(content.product_page, {
        'image_preview': 'image_preview',
        'title_maori': 'title_maori',
        'title_english': 'title_english',
        'height': 'height',
        'width': 'width',
    }) %}

    {% set images = [] %}
    {% if content.images is defined and content.images|length > 0 %}
        {% set images = content.images %}
    {% else %}
        {% set images = images|merge([product_data.content.image_preview]) %}
    {% endif %}

    <div class="row">
        {% if images|length > 0 %}
            <div class="col-12 col-lg-7">

                <div id="carouselTipu" class="carousel slide">
                    <div class="carousel-inner">
                        {% for image in images %}
                            <div class="carousel-item {{ loop.index0 == 0 ? 'active' : '' }}">
                                <img src="{{ image.thumbnails['800x'] }}" alt="{{ image.description }}" class="w-100">
                                <div class="d-block / px-3 py-4 / text-blue-4 fw-700 bg-yellow-2">{{ image.description ? image.description : content.title }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if images|length > 1 %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTipu" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselTipu" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    {% endif %}
                </div>

            </div>
        {% endif %}
        <div class="col-12 {{ product_data.content.image_preview ? 'col-lg-5' : '' }}">

            <table class="w-100 fs-20 / table table-bordered table-hover">
                <thead>
                <tr class="table-primary / fw-700">
                    <th scope="col">
                        Bag size
                    </th>
{#                    <th scope="col" class="text-center">#}
{#                        Available number#}
{#                    </th>#}
                    <th scope="col" class="text-center">
                        Price per bug, NZD
                    </th>
{#                    <th scope="col" class="text-center">#}
{#                        Is it available#}
{#                    </th>#}
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for item in content.prices_options %}
                    {% if item.is_available %}
                        <tr class="{{  item.is_available ? '' : 'bg-red-5' }}">
                            <th scope="row">
                                {{ item.bag_size|upper }}
                            </th>
{#                            <td class="text-center">#}
{#                                {{ item.number }}#}
{#                            </td>#}
                            <td class="text-center">
                                ${{ item.price }}
                            </td>
{#                            <td class="text-center">#}
{#                                {{ item.is_available ? 'Yes' : 'No' }}#}
{#                            </td>#}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

            <div class="mt-8 p-4 / fs-20 / bg-grey-2">
                <p>
                    If you want to buy plants, please email or text Olga.<br>
                    Phone: <a href="tel:021 119 0998">021 119 0998</a><br>
                    Email: <a href="mailto:olga.levanova@gmail.com">olga.levanova@gmail.com</a>
                </p>
                <p>
                    You also can come to my nursery by appointment to check available plants. Please let me know if you would like to come.
                </p>
            </div>

        </div>
    </div>


    <div class="mt-8">
        {% if product_data.content.title_maori %}
            <div>
                <span class="fw-700">Maori name{{ ',' in product_data.content.title_maori ? 's' : '' }}:</span> {{ product_data.content.title_maori }}
            </div>
        {% endif %}
        {% if product_data.content.title_english %}
            <div>
                <span class="fw-700">English name{{ ',' in product_data.content.title_english ? 's' : '' }}:</span> {{ product_data.content.title_english }}
            </div>
        {% endif %}
        {% if product_data.content.height %}
            <div>
                <span class="fw-700">Height:</span> {{ product_data.content.height }}m
            </div>
        {% endif %}
        {% if product_data.content.width %}
            <div>
                <span class="fw-700">Width:</span> {{ product_data.content.width }}m
            </div>
        {% endif %}

        <div class="mt-2 / fs-16">
            <sulu-link href="{{ content.product_page }}">Read more</sulu-link> about {{ content.title }} in Library
        </div>
    </div>

{% endblock %}
