{% extends "layout.html.twig" %}

{% set pageTitle = false %}

{% block content %}
    {% set product_data = sulu_content_load(content.product_page, {
        'image_preview': 'image_preview',
        'title_maori': 'title_maori',
        'title_english': 'title_english',
        'height': 'height',
        'width': 'width',
        'description': 'description',
        'uses_categories': 'uses_categories',
        'growing_categories': 'growing_categories',
        'url': 'url',
    }) %}

    {% set images = [] %}
    {% if content.images is defined and content.images|length > 0 %}
        {% set images = content.images %}
    {% else %}
        {% set images = images|merge([product_data.content.image_preview]) %}
    {% endif %}

    {% set snippets = sulu_snippet_load_by_area('product_sale_notes_text') %}

    <div class="row / pt-2 pt-lg-5">
        {% if images|length > 0 %}
            <div class="col-12 col-lg-4 / order-1 order-lg-0">

                <div id="carouselTipu" class="carousel slide">
                    <div class="carousel-inner">
                        {% for image in images %}
                            <div class="carousel-item {{ loop.index0 == 0 ? 'active' : '' }}">
                                <img src="{{ image.thumbnails['800x.webp'] }}" alt="{{ image.description }}" class="w-100">
                                <div class="d-block / px-3 py-4 / text-blue-4 fw-700 bg-yellow-2">{{ image.description ? image.description : content.title }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if images|length > 1 %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTipu" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselTipu" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    {% endif %}
                </div>

            </div>
        {% endif %}
        <div class="col-12 {{ product_data.content.image_preview ? 'col-lg-8' : '' }} / order-0 order-lg-1">

            <h1 class="mt-0 mt-lg-1 mb-0">
                {{ content.title }}
            </h1>

            {% if product_data.content.title_maori or product_data.content.title_english %}
                <div class="fst-italic fw-500">
                    {{ product_data.content.title_maori ? product_data.content.title_maori : '' }}{{ product_data.content.title_english ? ', ' ~ product_data.content.title_english : '' }}
                </div>
            {% endif %}

            <div class="mt-2 mb-3 mb-lg-5">
                <a href="{{ product_data.content.url }}" class="fs-16 fw-400 ls-0">Read about {{ content.title }} in Library</a>
            </div>

            <div class="row">
                <div class="col-12 / order-1 order-lg-0">
                    <div class="mb-6 / fs-18 fs-lg-20">
                        {{ snippets.content.description|raw }}
                    </div>
                </div>
                <div class="col-12 / order-0 order-lg-1">
                    <table class="w-100 fs-18 fs-lg-20 / table table-bordered table-hover">
                        <thead>
                        <tr class="table-primary / fw-700">
                            <th scope="col">
                                Grade
                            </th>
                            <th scope="col" class="text-center">
                                Price each, NZD
                            </th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for item in content.prices_options %}
                            {% if item.is_available %}
                                <tr class="{{  item.is_available ? '' : 'bg-red-5' }}">
                                    <th scope="row">
                                        {{ item.bag_size|replace({
                                            '_': ' '
                                        }) }}
                                    </th>
                                    <td class="text-center">
                                        ${{ item.price }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-12 / order-0 order-lg-2">
                    {{ content.article|striptags != '' ? content.article|raw : '' }}
                </div>
            </div>
        </div>
    </div>

    <div class="my-5 my-lg-10">
        <h2>Description</h2>
        {{ product_data.content.description|raw }}
    </div>

    <div class="row / my-5 my-lg-8">
        <div class="col-12 col-md-6 / mb-4 mb-md-0">
            <div class="h-100 / p-6 / bg-blue-5">
                <h2 class="text-blue-4">Uses</h2>
                <ul class="ps-4 m-0">
                    {% for category in product_data.content.uses_categories %}
                        <li>{{ category.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="h-100 / p-6 / bg-yellow-3">
                <h2 class="text-blue-4">Growing Conditions</h2>
                <ul class="ps-4 m-0">
                    {% for category in product_data.content.growing_categories %}
                        <li>{{ category.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
