
{% set footer_snippets = sulu_snippet_load_by_area('product_sale_notes_text') %}
{% set footer_content = footer_snippets.content %}
{% set email = footer_content.email|default('olga.levanova@gmail.com') %}

<footer class="footer / text-white bg-blue-4">
	<div class="container">
		<div class="row / align-items-center">
			<div class="col-12 col-md-6 / py-6 / lh-1-5">
				<span class="fw-700">Phone:</span> {{ footer_content.phone|default('021 119 0998') }}<br>
				<span class="fw-700">Email:</span> <a href="mailto:{{ email }}" class="text-white">{{ email }}</a><br>
				<span class="fw-700">Address:</span> {{ footer_content.address|default('277 Kepa Road, Mission Bay, Auckland, 1071') }}
			</div>
			<div class="col-12 col-md-6 / text-white text-end / py-6 / lh-1-5">
				{% if footer_content.facebook_link %}
					<a href="{{ footer_content.facebook_link }}" class="d-inline-block / text-white">
						<img src="/assets/images/icon-facebook.svg" alt="" width="45" height="45">
					</a>
				{% endif %}
				{% if footer_content.instagram_link %}
					<a href="{{ footer_content.instagram_link }}" class="d-inline-block / text-white">
						<img src="/assets/images/icon-instagram.svg" alt="" width="45" height="45">
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</footer>