{% set is_search = app.request.get('_route') == 'sulu_search.website_search' %}

<header class="header / text-light / border border-0 border-bottom border-4 border-blue-4">
	<div class="container">
		<div class="pt-4 pb-4">
			<div class="row / align-items-center">
				<div class="col-12 col-lg-7 / pb-3 pb-lg-0 / text-center text-lg-start">
					<div class="ff-2 fs-30 fs-md-60 fw-700 lh-1-1">
						<a href="/" class="text-blue-4 lh-1-0 / text-decoration-none">
							<img src="/assets/images/logo4.svg" alt="Tipu Nursery" width="80" height="80" class="header__logo me-1 align-baseline">
							<span class="d-inline-block / text-start">
								<span class="d-block">Tipu Nursery</span>
								<span class="d-block / fs-23 fs-md-30 fw-600">NZ native plants</span>
							</span>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-5">
					<nav aria-label="Main Menu">
						<ul role="menu" itemscope="" itemtype="" class="row justify-content-center justify-content-lg-end / m-0 / fw-bold / list-unstyled">
							{% for item in sulu_navigation_root_flat('top-menu') %}
								{% set activeItem = request is defined and sulu_navigation_is_active(request.resourceLocator, item.url) %}
								<li class="col-auto / px-0"
									role="presentation">
									<a
											href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
											title="{{ item.title }}"
											role="menuitem"
											itemprop="name"
											{% if activeItem %}aria-current="page"{% endif %}
											class="btn / px-2 {{ activeItem ? 'bg-blue-4 text-yellow-2' : 'text-blue-4' }} / fs-14 fs-sm-18 text-decoration-none"
									>
										<span>{{ item.title }}</span>
									</a>
								</li>
							{% endfor %}
							<li class="col-auto / px-0">
								<button class="btn btn-search / px-2 / fs-14 fs-sm-18 text-blue-4 {{ is_search ? '' : 'collapsed' }}"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#collapseSearch"
										aria-expanded="{{ is_search ? 'true' : 'false' }}"
										aria-controls="collapseSearch">
									{{ source('@images/icon_search_2.svg') }}
								</button>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="collapse / bg-blue-4 {{ is_search ? 'show' : '' }}" id="collapseSearch">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6 offset-lg-3 / py-8">
					<h2 class="mb-3 / text-white fs-35">Search plants</h2>
					<form action="{{ path('sulu_search.website_search') }}" method="GET" role="search">
						<div class="position-relative">
							<label for="exampleFormControlInput1" class="form-label / visually-hidden">Keyword</label>
							<input type="text" class="form-control / w-100 border-0 br-5 px-3 py-2"
								   name="q"
								   id="q"
								   value="{{ app.request.get('q') }}"
								   placeholder="Start typing..."
								   aria-label="Keyword"
								   required
								   aria-describedby="button-search">
							<button class="btn btn-warning btn-enter / position-absolute top-0 end-0 bottom-0 / fs-17"
									type="submit"
									id="button-search">
								{{ source('@images/icon_arrow_forward.svg') }}
							</button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</header>